@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="container text-center">
    <br />
    <img src="~/images/403.svg" width="300px" alt="" />
    <br />
    <h1 class="text-danger">403 - Acesso Negado</h1>
    <p class="lead">Você não tem permissão para aceder esta página.</p>
    <br />
    <p class="lead">Fale com seu Gestor para que lhe seja dado as permissões de seu perfil!</p>
    <br />
    <a class="btn btn-primary" href="/">Voltar para a página inicial</a>
</div>