@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="container text-center">
    <br />
    <img src="~/images/500.png" width="300px" alt="" />
    <br />
    <h1>500 - Erro Interno do Servidor</h1>
    <br />
    <p>Ocorreu um erro inesperado. Tente novamente mais tarde.</p>
    <br />
    <a class="btn btn-primary" href="/">Voltar para a página inicial</a>
</div>