@model ModuleViewModel

@{
    ViewData["Title"] = "Novo estado das Atividades Planeadas";
    Layout = null;
}

<div class="container">
    <form id="CreateForm" enctype="multipart/form-data">
        <div class="row">
            <!-- Name Field -->
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <div class="invalid-feedback">
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>

            <!-- Description Field -->
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <div class="invalid-feedback">
                    <span asp-validation-for="Description"></span>
                </div>
            </div>

            <!-- Tag Field -->
            <div class="col-md-12">
                <div class="mb-3">
                    <label asp-for="Tag" class="form-label"></label>
                    <input asp-for="Tag" class="form-control" />
                    <div class="invalid-feedback">
                        <span asp-validation-for="Tag"></span>
                    </div>
                </div>
            </div>

            <input type="checkbox" asp-for="Activated" class="form-check-input" checked hidden />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
