@{
    ViewData["Title"] = "";
    ViewData["Section"] = "Dashboard";
}

<div supress-by-module-tag="dashboard" supress-by-claim-tag="ver" class="text-center">
    <h1 class="display-3">INFORMACAO PRIVADA (COM PERMISSAO)</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
