@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="container text-center">
    <br />
    <img src="~/images/404.png" width="300px" alt="" />
    <br />
    <h1 class="text-danger">404 - Pagina não encontrada</h1>
    <p class="lead">Está pagina não existe! Tente aceder pelo sidebar menu!</p>
    <br />
    <a class="btn btn-primary" href="/">Voltar para a página inicial</a>
</div>